:root {
	--dark: #004a67;
	--incoming: #f8ecf3;
	--outgoing: #006d98;
	--pink: #eccce7;
    --blue: #8de1f0;
}

html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to top right, var(--pink), var(--blue));
}

.ctm-card {
	border-radius: 15px !important;
	max-width: 400px;
	height: 520px;

}
.ctm-header {
	background: var(--dark) !important;
	border-radius: 15px !important;
	color: white;
	padding: 9px 15px;
}

.card-body {
	overflow-y: auto;
	height: 400px;
	padding: 0;
}

.toy {
    color: var(--incoming);	
	background-color: var(--dark);
	padding: 5px;
	border-radius: 25px;

}
.chat-bubble {
	background: var(--incoming);
	padding: 10px 15px;
	border-radius: 10px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		width: 0;
		height: 0;
		border: 15px solid transparent;
		border-bottom: 0;
		margin-top: -10px;
	}
}

.chat-bubble--in:after {
    left: 0;
    border-right-color: var(--incoming);
    border-left: 0;
    margin-left: -14px;
}

.chat-bubble--out {
    background: var(--outgoing);
	color: white;
	margin-right: 10px;
    &:after {
        right: 0;
        border-left-color: var(--outgoing);
        border-right: 0;
        margin-left: 0;
        margin-right: -14px;
    }
}

/* .ctm-footer {
	background-color: var(--incoming) !important;
} */
.chat-input {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
	&:focus {
		box-shadow: none !important;
		outline: none !important;
	}
}



.send-btn {
    background: var(--dark) !important;
    color: white !important;
     border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
	&:focus {
		box-shadow: none !important;
		outline: none !important;
	}
}

.chat-toggler {
    position: fixed;
    right: 50px;
    bottom: 35px;
    cursor: pointer;
    color: var(--incoming);    
    background-color: var(--dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust the width and height as needed */
    height: 50px; /* Adjust the width and height as needed */
}