:root {
    --pink: #eccce7;
    --blue: #8de1f0;
    --greish: #d5eaee;
    --light: #84CCA3;
    --dp: #ca6f89;
    --accent: #8d1437;
}

html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, var(--pink), var(--blue));
}

.container {
    margin: 60px auto;
    background: #ffff;
    padding: 0;
    border-radius: 7px;
}

.profile-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.settings-tray {
    background: var(--greish);
    padding: 10px 15px;
    border-top-left-radius: 7px;
}
.header-tray {
    background: var(--greish);
    padding: 10px 15px;
    border-top-right-radius: 7px;
}

i {
    margin-top: 10px;
    margin-left: 14px;
    font-size: 25px;
    color: var(--dp);
    transition: .3s;
    &:hover {
        color: var(--accent);
        cursor: pointer;
    }
}

.left-cont {
    background-color: #d5eaee62;;

}
.search-box {
    padding: 10px 15px;
}

.search-box .form-control:focus {

    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.friend-drawer:hover, .friend-drawer.active  {
    background: var(--greish);
    cursor: pointer;
    .nickname {
        font-weight: bold;
    }
}

.chat-bubble {
    background: var(--greish);
    border-radius: 9px;
    padding: 10px 14px;
    margin: 10px 30px;
    position: relative;
    animation: fadeIn .5s ease-in;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-bottom: 0;
            margin-top: -10px;
        }
}
/*  after is a pseudo-element on css used to insert content after
    an element's content. For example, to adding decorative elements */
.chat-bubble--left:after {
    left: 0;
    border-right-color: var(--greish);
    border-left: 0;
    margin-left: -15px;
}
.chat-bubble--right {
    background: var(--blue);
}
.chat-bubble--right {
    background: var(--blue);
    &:after {
        right: 0;
        border-left-color: var(--blue);
        border-right: 0;
        margin-left: 0;
        margin-right: -15px;
    }
}
