:root {
    --pink: #eccce7;
    --blue: #8de1f0;
    --greish: #d5eaee;
    --light: #84CCA3;
    --dp: #ca6f89;
    --accent: #8d1437;
}

html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, var(--pink), var(--blue));
}

.container {
    margin: 60px auto;
    background: #ffff;
    padding: 0;
    border-radius: 7px;
}

.profile-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.settings-tray {
    background: var(--greish);
    padding: 10px 15px;
    border-top-left-radius: 7px;
}

i {
    margin-top: 10px;
    margin-left: 14px;
    font-size: 25px;
    color: var(--dp);
    transition: .3s;
    &:hover {
        color: var(--accent);
        cursor: pointer;
    }
}

.left-cont {
    background-color: #d5eaee62;;

}
.search-box {
    padding: 10px 15px;
}

.search-box .form-control:focus {

    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.friend-drawer:hover, .friend-drawer.active  {
    background: var(--greish);
    cursor: pointer;
    .nickname {
        font-weight: bold;
    }
}